@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.pd-couple .imagePart {
  width: 65%;
  height: 60vh;
  margin: auto;
  margin-top: 30px;
  border-radius: 5px;
  background-image: url("../images/couple.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .pd-couple .imagePart {
    height: 50vh;
    width: 100%;
    margin-top: 0;
  }
}
.pd-couple .textPart {
  width: 65%;
  margin: auto;
}
@media (max-width: 768px) {
  .pd-couple .textPart {
    width: 90%;
  }
}
.pd-couple .textPart .topic {
  font-size: 58px;
  font-weight: 400;
  line-height: 80px;
  margin-bottom: 20px;
  font-family: "Tiempos Headline";
  color: #2C2C2C;
}
@media (max-width: 768px) {
  .pd-couple .textPart .topic {
    font-size: 30px;
    line-height: 40px;
  }
}
.pd-couple .textPart .explain {
  font-size: 16px;
  line-height: 24px;
  color: #505050;
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
  letter-spacing: 0.5px;
}
@media (max-width: 768px) {
  .pd-couple .textPart .explain {
    font-size: 14px;
  }
}
.pd-couple .textPart .actions {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pd-couple .textPart .actions p {
  font-size: 10px;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  font-weight: bold;
  color: #505050;
  list-style: 24px;
  margin-right: 10px;
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
}
.pd-couple .textPart .actions .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pd-couple .textPart .actions .icons a {
  text-decoration: none;
  display: block;
  margin-right: 15px;
}
.pd-couple .textPart .actions .icons a img {
  width: 20px;
}
.pd-couple .textPart .listact {
  width: 100%;
  margin-top: 30px;
}
.pd-couple .textPart .listact .each {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.pd-couple .textPart .listact .each .circle {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-right: 5px;
  background: #505050;
  margin-top: 10px;
}
.pd-couple .textPart .listact .each .text {
  font-size: 16px;
  line-height: 24px;
  width: 95%;
  color: #505050;
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
  letter-spacing: 0.5px;
}
@media (max-width: 768px) {
  .pd-couple .textPart .listact .each .text {
    font-size: 14px;
  }
}
.pd-couple .textPart .listact .each .text span {
  font-weight: bold;
}
.pd-couple form {
  width: 65%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .pd-couple form {
    width: 90%;
  }
}
.pd-couple form .head {
  font-size: 32px;
  letter-spacing: 0.5px;
  font-family: "Tiempos Headline";
  color: #2C2C2C;
  font-weight: normal;
  margin-bottom: 20px;
}
.pd-couple form .group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
.pd-couple form .group:last-child {
  margin-bottom: 0px;
}
.pd-couple form .group label {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
}
@media (max-width: 768px) {
  .pd-couple form .group label {
    font-size: 14px;
  }
}
.pd-couple form .group select {
  background: rgba(229, 229, 229, 0.2);
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 52%;
  padding: 10px;
  outline: none;
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
  font-size: 12px;
  color: #2C2C2C;
}
@media (max-width: 768px) {
  .pd-couple form .group select {
    width: 100%;
  }
}
.pd-couple form .group select:active {
  outline: none;
}
.pd-couple form .group input {
  background: rgba(229, 229, 229, 0.2);
  border: 1px solid #E5E5E5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
  width: 52%;
  padding: 10px;
  outline: none;
  font-size: 12px;
  color: #2C2C2C;
}
@media (max-width: 768px) {
  .pd-couple form .group input {
    width: 100%;
  }
}
.pd-couple form .group input::-webkit-input-placeholder {
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
  font-size: 12px;
  color: #2C2C2C;
}
.pd-couple form .group input::-moz-placeholder {
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
  font-size: 12px;
  color: #2C2C2C;
}
.pd-couple form .group input:-ms-input-placeholder {
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
  font-size: 12px;
  color: #2C2C2C;
}
.pd-couple form .group input::-ms-input-placeholder {
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
  font-size: 12px;
  color: #2C2C2C;
}
.pd-couple form .group input::placeholder {
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
  font-size: 12px;
  color: #2C2C2C;
}
.pd-couple form .group input:active {
  outline: none;
}
.pd-couple form button {
  margin-top: 15px;
  width: 250px;
  padding: 10px 0px;
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
  border: none;
  background: #E26D48;
  cursor: pointer;
  border-radius: 2px;
  color: white;
}
@media (max-width: 768px) {
  .pd-couple form button {
    width: 100%;
  }
}
.pd-couple form button:disabled {
  background: #C4C4C4;
}
.pd-couple form button:hover {
  background: #E26D48;
}
.pd-couple .result {
  width: 65%;
  margin: auto;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .pd-couple .result {
    width: 90%;
  }
}
.pd-couple .result p {
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-size: 27px;
  color: #2C2C2C;
  margin-bottom: 20px;
  font-weight: 400;
}
.pd-couple .result ul {
  /* background: rgba(172, 231, 224, 0.2); */
  border-radius: 8px;
  padding: 20px 20px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
}
.pd-couple .result ul li {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 16px;
  font-weight: 400;
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
}

.pd-persona .p-text,
.buttony {
 
  font-family: "Aktiv Grotesk", "Segoe UI", "Roboto", sans-serif;
}
@media (max-width: 768px) {
  .pd-couple .result ul li {
    font-size: 13px;
  }
}
.pd-couple .result ul li:last-child {
  margin-bottom: 0;
}
.pd-couple .result ul li::before {
  content: "•";
  color: #ACE7E0;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.pd-couple .totalDiv {
  display: none;
}